@import ../../node_modules/bootstrap/scss/_functions
@import ../../node_modules/bootstrap/scss/_variables
$ayman: 300px
$boujjar:  290px
$mehdi: 120px

$space: (7: $ayman, 6: $boujjar, 8:$mehdi )


$spacers: map-merge($space , $spacers)




