@import ../../node_modules/bootstrap/scss/_functions
@import ../../node_modules/bootstrap/scss/_variables
$ayman: 290px
$boujjar: 160px
$mehdi: 120px
$width:95px
$height:85px

$space: (7: $ayman, 6: $boujjar, 8:$mehdi, 9:$width, 11:$height )


$spacers: map-merge($space , $spacers)



$top:85%
$right:12%
$right2:40%

$position: ( 25: $right, 15:$top, 11:$right2  )

$position-values: map-merge($position , $position-values)




