.cart
    display: flex
    .text
        display: flex
        flex-direction: column
        align-items: start
        


.fifth
    .main
        display: flex
        align-items: center
        
        
    
        
    h1
        display: flex
        gap: 15px
        justify-content: center
        align-items: center
    i
        display: flex
        gap: 15px
        justify-content: center
        align-items: center
    .cards
        
        width: 70vw
    p
        display: flex
        flex-direction: column
        align-items: start
        width: 100%
        
        .btn
            width: 20vw
            &:hover
                color: rgb(255, 176, 59)
@media  ( max-width: 433px)
    .cart
        flex-direction: column
    .fifth
        h1
            padding: 0px
            width: 100%
            
        .main
            flex-direction: column
            align-items: start
        i
            padding-inline: 13px
            padding-left: 10px
        .cards
            width: 100vw
        
        p
            width: 90%
            .btn
                width: 80vw
        .cart
            width: 320px
            flex-direction: column-reverse
    
            
        