.first
    .carousel-item
        &::before
            content: ""
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background: rgb(0,0 ,0)
            opacity: 0.5
    
    .mainbtn
         display: flex
         align-items: center 
         justify-content: center
         gap: 25px    
    .btn
        padding: 10px
        padding-bottom: 11px
        background: transparant
        border: solid 2px rgb(255, 176, 59)
        color: #fff
        border-radius: 50px
        padding-inline: 20px
        
        &:hover
            background: rgb(255, 176, 59)
   

    
    
    
    
    
    
.second
    display: flex
    gap: 10vw
    background: rgb(255, 250, 243)
    align-items: start
    padding: 25px
    .text
        padding-inline-end: 30px
        // padding-bottom: 20px
    i
        color: rgb(255, 176, 59)
    ul
        list-style: none




.third
    display: flex
    flex-direction: column
    align-items: center
    gap: 5vh
    .cards
        display: flex
        gap: 10vw
        // padding-inline: 10vw  
        .div-third
            display: flex
            flex-direction: column
            gap: 15px
            box-shadow: 5px 10px 18px #100e0e51
            background: #fff
            width: 25vw
            padding: 20px
            b
                color: #f5d854
                padding: 25px
            &:hover
                background: orange
                padding-top:  5px
                transition: 0.5s

                
                
                b
                    color: white
.sixth
    background-image: url(../images/events-bg.jpg)
    background-attachment: fixed
    background-position: cover 
    position: relative
    width: 100%
    height:100vh
    img
        opacity: 1 
    .carousel2
        display: flex
        align-items: center
        justify-content: center
        
        
        h1
            color: #fff
        padding: 50px
            
    &::before
        content: ""
        position: absolute
        top: 0
        width: 100%
        height: 100%
        background: rgb(0,0 ,0)
        opacity: 0.5
        

    
.b
    color: #fff
    &::after
        content: ""
        position: absolute
        display: block
        width: 2.5vw
        height: 3px
        background: yellow
strong
    &::after
        content: ""
        position: absolute
        display: block
        width: 2vw
        height: 3px
        background: yellow
        

    
        
        
   
    

